<html>
  <head></head>
  <body>
    <h1>Welcome to Chitter</h1>
    <h2>The place to talk Chit without repercussion</h2>

    <div>
      Please login to Chit
    
    </div>
    <div>
    <form method="post" action="/createaccount">
    Username: <input type="text" name="content" />
    Password: <input type="text" name="content" />
    <input type="submit" value="Submit" />
    </form>
    
    
    No account? Click <a href='/createaccount'>here</a> to create account
</div>

  </body>
</html>

<style>
  body {
    background-color: #E6E6FA;
    text-align: center;
    color: #0077BE;
  }
</style>

